body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Fredericka the Great", cursive;
  font-size: 4rem;
  color: #3f68ac;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3f68ac;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #3f68ac;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #3f68ac;
}

hr {
  position: inherit;
  border-color: #c9d6df;
  border-style: none;
  margin-top: 5rem;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}

p {
  line-height: 1.6;
}

.skills {
  padding-top: 2rem;
}

.middle-container {
  display: inline-block;
  width: 90%;
}

.bottom-container {
  background-color: #849ab4;
  padding-top: 40px;
  padding-bottom: 20px;
}

.top-container {
  background-color: #d2d8de;
  padding-top: 60px;
}

.top-container-118 {
  background-color: #d2d8de;
  padding-top: 30px;
  padding-bottom: 20px;
}

.mypicture {
  width: 150px;
  padding-top: 2rem;
  margin-bottom: 30px;
}

.picture18 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.picture43 {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 0;
}

.title {
  font-size: 2rem;
  margin-top: 0;
  font-weight: normal;
  line-height: 2;
}

.footer-link {
  display: inline-block;
  color: #263356;
  margin: 0 50px 10px 50px;
  font-weight: bold;
}

.skill-row {
  width: 70%;
  margin: 6.25rem auto 6.25rem auto;
}

.discriprion {
  text-align: left;
}

.scale-43-title {
  text-align: right;
  padding-top: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  display: block;
  color: #3f68ac;
  font-size: 1.3rem;
}

.scale-18-title {
  text-align: left;
  padding-top: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  display: block;
  color: #3f68ac;
  font-size: 1.3rem;
}

.copy-wright {
  color: #eaf6f6;
  padding-bottom: 5px;
}

.contact-me {
  padding-bottom: 5rem;
  line-height: 2;
}

.intro {
  width: 80%;
  margin: auto;
}

.btn {
  margin-top: 2rem;
  background-color: #849ab4;
  border-radius: 6px;
  border: 1px solid #849ab4;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
}

.btn:hover {
  background-color: #849ab4;
}

.btn:active {
  position: relative;
  top: 1px;
}

.car {
  width: 30%;
}
.card-deck {
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.container {
  max-width: 1200px;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.bottom-line {
  margin-top: 150px;
}
.pagination li {
  font-family: "Montserrat", sans-serif !important;
  padding: 5px 5px 5px;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-body {
  background-color: #e6eaef;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #3f68ac;
  border-color: #3f68ac;
  color: #fff;
  font-weight: bold;
}
.pagination > li > a {
  border: 1px solid #3f68ac;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3f68ac;
  border-color: #3f68ac;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #3f68ac;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.pagination__link--active > a {
  color: red !important;
  font-weight: bolder;
}
.dropdown-toggle {
  margin-left: 1em;
}
.dropdown {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  /* display: flex; */
}
.card-title {
  font-size: 1.3rem;
}
.card-text {
  color: #3f68ac;
}
.filter-brands {
  font-size: 0.8rem;
  line-height: 0.8;
}
.filter-area {
  background-color: #849ab4;
  border-color: #849ab4;
  color: aliceblue;
  outline: none;
}
.filter-area :hover {
  background-color: #849ab4;
  border-color: #849ab4;
  color: aliceblue;
}
.filter-btn {
  margin-top: 0;
}
.filters {
  padding-bottom: 10px;
  padding-top: 1px;
  background-color: #d2d8de;
  display: flex;
  justify-content: center;
}
.filterlables {
  display: block;
  text-align: center;
  font-variant: small-caps;
}
